@model IEnumerable<Seller>
@{
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 11pt;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            background-color: #fff;
        }

            table th {
                background-color: #B8DBFD;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

            table, table table td {
                border: 0px solid #ccc;
            }

        .formdiv0 {
            margin-top: 30px;
        }

        .formdiv1 {
            margin-bottom: 20px;
        }

        .formdiv2 {
            margin-bottom: 20px
        }

        .formdiv3 {
            margin-bottom: 20px
        }

        .b1 {
            background: #B8DBFD;
            margin: 5px
        }

        .b2 {
            background: #B8DBFD;
            margin: 5px
        }

        .b3 {
            background: #B8DBFD;
            margin: 5px;
        }

        .body {
            background: #dae3e3;
            margin: 5px;
        }
    </style>
</head>
<body class="body">
    <h4>Customers</h4>
    <hr />
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>CustomerID</th>
            <th>CustomerName</th>
        </tr>
        @foreach (Seller seller in Model)
        {
            <tr>
                <td>@seller.Id</td>
                <td>@seller.Name</td>
            </tr>
        }
    </table>
    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
    {
        <div class="formdiv0">
            <form asp-controller="Seller" asp-action="SellerAdd" method="post">
                <div class="formdiv1">
                    <label>Name:</label><br />
                    <input name='name' /><br />
                    <input type='submit' class="b1" value='Add' />
                </div>
            </form>
            <form asp-controller="Seller" asp-action="SellerDelete" method="post">
                <div class="formdiv2">
                    <label>Id:</label><br />
                    <input name='id' /><br />
                    <input type="submit" class="b2" value='Delete' />
                </div>
            </form>
            <form asp-controller="Seller" asp-action="SellerEdit" method="post">
                <div class="formdiv3">
                    <label>Id:</label><br />
                    <input name='id' /><br />
                    <label>Name:</label><br />
                    <input name='name' /><br />
                    <input type='submit' class="b3" value='Edit' />
                </div>
            </form>
        </div>
    }
    
</body>
</html>
